<div ng-include="'views/topNavigation.html'" class="topNavigation" ng-controller="TopNavCtrl"></div>
<div style="display: flex;flex-direction: row;">
    <table style="width:50%; margin-right:30px;margin-left:20px;" class="custom-table">
        <thead>
        <th>ITEM </th>
        <th>CUSTOMER</th>
        <th>TOSHIBA</th>
        <th>LG</th>
        </thead>
        <tbody>
        <td>htc mobile</td>
        <td>alan.b</td>
        <td>$320</td>
        <td>B-ZTF</td>
        </tbody>
    </table>
    <div id="donutchart" style="width:50%;margin-top:5%;"></div>
</div>