<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/"><span>rever</span><span style="margin-left:10px;padding-left:10px;border-left:1px solid #FFF;">Service Center</span></a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)">Guided setup<span style="margin-left:10px;">Help</span></a></li>
        <li class="active"><a href="javascript:void(0)"><span>Marcoz moralez</span><span><img src="images/yeoman.png" width="25" height="25" style="margin-left:20px;"/></span><span class="glyphicon glyphicon-arrow-down" style="color: #fff;"></span></a></li>
        <li><a href="javascript:void(0)"><input type="search" placeholder="Search Term |"></a></li>
      </ul>
    </div>
  </div>
</div>
