<ul>
    <li>HOME</li>
    <li>SERVICE REQUEST</li>
    <li>DASHBOARD</li>
    <li>JOBS</li>
    <li>QUOTATIONS</li>
</ul>
<ul>
    <li>DATE RANGE</li>
    <li>
        <span>FROM</span>
       <!-- <span>
            <div class="input-group">
                <input id="campaign-start-date" ng-change="validations.dates='';" ng-model="campaign.startDateLabel" type="text" class="form-control datepicker design-spec-border-bottom-e design-spec-font-style-2 design-spec-text-color-c" data-format="D, mm/dd/yy" data-start-date="+0d"/>
                <div class="input-group-addon">
                    <a href=""><i class="glyphicon-calendar"></i></a>
                </div>
            </div>
        </span>-->
    </li>
    <li>TO</li>
</ul>