<DIV>UPLOAD TABLE DATA</DIV>
<table>
    <thead>
    <th>UPLOAD FILE NAME</th>
    <th>UPLOAD STATUS</th>
    <th>UPLOAD TIME</th>
    <th>UPLOAD FINISHED TIME</th>
    <th>TOTAL RECORDS</th>
    <th>SUCCESS COUNT</th>
    </thead>
    <tbody>
    <tr ng-repeat="data in uploadHistory">
        <td ng-bind="data.uploadStatus"></td>
        <td ng-bind="data.uploadTime"></td>
        <td ng-bind="data.uploadFinished"></td>
        <td ng-bind="data.totalRecords"></td>
        <td ng-bind="data.successCount"></td>
    </tr>
    </tbody>
</table>
<div class="uploadButtons">
    <button type="submit">UPLOAD</button>
    <button type="button" ng-click="redirectTo()">DASHBOARD</button>
</div>


<div class="bannerImages" id="dragBox">
    <div class="upload">
        <span>Drag Files here</span>
        <fileuploader upload-button-id="fileChooser" url="api/upload"
                      drop-box-id="dragBox" result-handler="fileUploadResultHandler" multiple="true" campaign-type="brand">
        </fileuploader>
    </div>
    <div class="browse" id="fileChooser"><a>Select Files <br/> from your computer/device</a></div>
    <div class="clear"></div>
</div>