<div style="dispaly:flex;padding-top:1%;width: 991px;margin: 0 auto;">
    <div style="text-align: center;font-size:20px;">UPLOAD HISTORY</div>
    <table class="custom-table">
        <thead>
        <th>UPLOAD FILE NAME</th>
        <th>UPLOAD STATUS</th>
        <th>UPLOAD TIME</th>
        <th>UPLOAD FINISHED TIME</th>
        <th>TOTAL RECORDS</th>
        <th>SUCCESS COUNT</th>
        </thead>
        <tbody>
        <tr ng-repeat="data in uploadHistory">
            <td ng-bind="data.uploadStatus"></td>
            <td ng-bind="data.uploadTime"></td>
            <td ng-bind="data.uploadFinished"></td>
            <td ng-bind="data.totalRecords"></td>
            <td ng-bind="data.successCount"></td>
        </tr>
        </tbody>
    </table>


    <div class="bannerImages" id="dragBox">
        <div style="float: left;">
            <div class="upload">
                <span>Drag Files here</span>
                <fileuploader upload-button-id="fileChooser" url="api/upload"
                              drop-box-id="dragBox" result-handler="fileUploadResultHandler" multiple="true" accept=".xml">
                </fileuploader>
            </div>
            <div style="font-size: 13px;color: grey;text-align: left;"><span class="cursorPointer" style="color:#bf0000;text-decoration: underline;" ng-click="exportSample()">Download Sample</span><span>&nbsp<img style="width:15px;" src="images/excel-icon-green.png"/></span> Use this template to upload.</div>
        </div>
        <div class="browse" id="fileChooser"><a>Select Files <br/> from your computer/device</a></div>

        <div class="clear"></div>
    </div>
</div>